<a href="https://colab.research.google.com/github/KatiaItzelCortes/EDP/blob/main/Generadorcongruencial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install tabulate
import tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [14]:
def generador (a, c, m, x0):
    x1 = (a * x0 + c) %m
    return x1

In [15]:
n = 70
a = 8
c = 2
m = 64
x0 = 1

muestra = []
datos = []
for i in range(n):
    nuevo = generador(a, c, m, x0)
    muestra.append([i, x0, nuevo/64])
    datos.append(x0/64)
    x0 = nuevo
encabezados = ["i", "x_i", "x_{i+1}"]
print(tabulate.tabulate(muestra, headers = encabezados, tablefmt = "plsql", numalign = "center"))

 i    x_i    x_{i+1}
---  -----  ---------
 0     1     0.15625
 1    10     0.28125
 2    18     0.28125
 3    18     0.28125
 4    18     0.28125
 5    18     0.28125
 6    18     0.28125
 7    18     0.28125
 8    18     0.28125
 9    18     0.28125
10    18     0.28125
11    18     0.28125
12    18     0.28125
13    18     0.28125
14    18     0.28125
15    18     0.28125
16    18     0.28125
17    18     0.28125
18    18     0.28125
19    18     0.28125
20    18     0.28125
21    18     0.28125
22    18     0.28125
23    18     0.28125
24    18     0.28125
25    18     0.28125
26    18     0.28125
27    18     0.28125
28    18     0.28125
29    18     0.28125
30    18     0.28125
31    18     0.28125
32    18     0.28125
33    18     0.28125
34    18     0.28125
35    18     0.28125
36    18     0.28125
37    18     0.28125
38    18     0.28125
39    18     0.28125
40    18     0.28125
41    18     0.28125
42    18     0.28125
43    18     0.28125
44    18     0.28125
45    18     0.28125
46    18     0.28125
47    18     0.28125
48    18     0.28125
49    18     0.28125
50    18     0.28125
51    18     0.28125
52    18     0.28125
53    18     0.28125
54    18     0.28125
55    18     0.28125
56    18     0.28125
57    18     0.28125
58    18     0.28125
59    18     0.28125
60    18     0.28125
61    18     0.28125
62    18     0.28125
63    18     0.28125
64    18     0.28125
65    18     0.28125
66    18     0.28125
67    18     0.28125
68    18     0.28125
69    18     0.28125